In [1]:
import pandas as pd
import numpy as np

In [2]:
f = '../data/u_v_w.csv'
uvw = pd.read_csv(f,index_col=0,parse_dates=True)
uvw

                        u     v     w
fecha
2022-03-12 15:00:23 -0.38 -0.28  0.16
2022-03-12 15:00:24 -0.41 -0.30  0.10
2022-03-12 15:00:25 -0.43 -0.26  0.13
2022-03-12 15:00:26 -0.39 -0.15  0.14
2022-03-12 15:00:27 -0.32 -0.01  0.14
...                   ...   ...   ...
2022-03-12 15:41:34 -0.51 -1.50  0.21
2022-03-12 15:41:35 -0.41 -1.59  0.19
2022-03-12 15:41:36 -0.35 -1.71  0.24
2022-03-12 15:41:37 -0.38 -1.66  0.27
NaT                   NaN   NaN   NaN

[148620 rows x 3 columns]

In [4]:
def formato_estacion(df):
    """ receives dataframe with u,v,w, returns ws,wd added """
    DperR = 180/np.pi
    df['ugeo'] = -df.v
    df['vgeo'] = -df.u
    df['ws'] = (df.ugeo**2 + df.vgeo**2 + df.w**2)**0.5
    df['wd'] = 270 + (np.arctan2(df.vgeo,df.ugeo)*DperR)
    df.wd    = df.wd%360.
    return df[['u','v','w','ws','wd']]

In [5]:
datos = formato_estacion(uvw)
datos

                        u     v     w        ws          wd
fecha
2022-03-12 15:00:23 -0.38 -0.28  0.16  0.498397  323.615648
2022-03-12 15:00:24 -0.41 -0.30  0.10  0.517784  323.806793
2022-03-12 15:00:25 -0.43 -0.26  0.13  0.519038  328.840695
2022-03-12 15:00:26 -0.39 -0.15  0.14  0.440681  338.962489
2022-03-12 15:00:27 -0.32 -0.01  0.14  0.349428  358.210089
...                   ...   ...   ...       ...         ...
2022-03-12 15:41:34 -0.51 -1.50  0.21  1.598186  288.778033
2022-03-12 15:41:35 -0.41 -1.59  0.19  1.652967  284.459395
2022-03-12 15:41:36 -0.35 -1.71  0.24  1.761874  281.567440
2022-03-12 15:41:37 -0.38 -1.66  0.27  1.724210  282.893744
NaT                   NaN   NaN   NaN       NaN         NaN

[148620 rows x 5 columns]

In [6]:
datos.to_csv('../data/ws_wd.csv')